In [1]:
##Limpieza Base de Datos##

#El origen de esta base datos

In [1]:
#Cargar la base de datos#

import pandas as pd
df = pd.read_csv("df_sucio.csv")
df

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850,49704
2,Ford,Mondeo,NaN,Diesel,2014.0,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814,1705
4,VW,Polo,1.0,Petrol,2006.0,127869,4101
...,...,...,...,...,...,...,...
59903,Ford,Focus,NaN,Petrol,2020.0,17260,30921
59904,VW,Polo,1.2,Petrol,1991.0,184788,1033
59905,VW,Polo,1.4,Petrol,2018.0,30622,21030
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906,8831
59907,VW,Passat,2.0,Diesel,2010.0,47757,20675

In [2]:
#Visualizar columnas y filas#

df.shape

(59908, 7)

In [4]:
#Visualizar los primeros renglones#

df.head()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850,49704
2,Ford,Mondeo,NaN,Diesel,2014.0,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814,1705
4,VW,Polo,1.0,Petrol,2006.0,127869,4101

In [5]:
#Visualizar los ultimos renglones#

df.tail()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
59903,Ford,Focus,NaN,Petrol,2020.0,17260,30921
59904,VW,Polo,1.2,Petrol,1991.0,184788,1033
59905,VW,Polo,1.4,Petrol,2018.0,30622,21030
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906,8831
59907,VW,Passat,2.0,Diesel,2010.0,47757,20675

In [3]:
#Se utiliza para mostrar la  información sobre el índice, las columnas, el número de valores no nulos, los tipos de datos y el uso de memoria#

df.info
df

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850,49704
2,Ford,Mondeo,NaN,Diesel,2014.0,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814,1705
4,VW,Polo,1.0,Petrol,2006.0,127869,4101
...,...,...,...,...,...,...,...
59903,Ford,Focus,NaN,Petrol,2020.0,17260,30921
59904,VW,Polo,1.2,Petrol,1991.0,184788,1033
59905,VW,Polo,1.4,Petrol,2018.0,30622,21030
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906,8831
59907,VW,Passat,2.0,Diesel,2010.0,47757,20675

In [4]:
#Nos genera un df con TRUE donde hay NaN y FALSE donde no hay datos#

df.isnull()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
59903,False,False,True,False,False,False,False
59904,False,False,False,False,False,False,False
59905,False,False,False,False,False,False,False
59906,False,False,False,False,False,False,False
59907,False,False,False,False,False,False,False

In [5]:
#Encuentra la suma de los NULOS por columna#

df.isnull().sum()

Manufacturer           2396
Model                  2396
Engine size            2396
Fuel type              2396
Year of manufacture    2396
Mileage                2396
Price                  2396
dtype: int64

In [6]:
#Contar cuantos valores hay de cada valor por columna#

df["Manufacturer"].value_counts()

Manufacturer
Ford       17181
VW         17095
Toyota     14490
BMW         5765
Porsche     2981
Name: count, dtype: int64

In [9]:
df["Model"].value_counts()

Model
Golf          5832
Mondeo        5830
Polo          5742
Focus         5696
Fiesta        5684
Passat        5555
RAV4          4952
Prius         4792
Yaris         4721
Z4            1943
X3            1925
M5            1896
911           1000
Cayenne        981
718 Cayman     963
Name: count, dtype: int64

In [10]:
df["Engine size"].value_counts()

Engine size
1.4    11619
2.0     8738
1.8     8044
1.0     7326
1.6     6330
1.2     5715
2.4     2750
2.2     1928
3.0     1590
4.0     1254
4.4      621
5.0      611
2.6      518
3.5      468
Name: count, dtype: int64

In [11]:
df["Fuel type"].value_counts()

Fuel type
Petrol     28661
Diesel     14969
Hybrid     12745
ayuder$     1137
Name: count, dtype: int64

In [12]:
df["Year of manufacture"].value_counts()

Year of manufacture
2018.0    1900
1995.0    1854
2016.0    1846
2007.0    1813
2011.0    1812
2004.0    1809
2012.0    1805
2013.0    1804
2006.0    1797
2000.0    1795
2005.0    1787
1998.0    1785
1999.0    1778
1997.0    1772
2008.0    1763
1996.0    1762
2002.0    1760
2010.0    1756
2001.0    1746
1993.0    1735
2015.0    1722
2003.0    1721
1994.0    1719
2009.0    1718
2014.0    1702
2017.0    1669
1992.0    1520
1991.0    1473
2019.0    1405
1990.0    1269
1989.0    1076
2020.0    1071
1988.0     808
2021.0     685
1987.0     680
1986.0     501
1985.0     372
2022.0     359
1984.0     163
Name: count, dtype: int64

In [13]:
df["Mileage"].value_counts()

Mileage
ayuder$    1152
11500        12
8500          9
110835        9
6000          8
           ...
22394         1
80134         1
77006         1
268809        1
107899        1
Name: count, Length: 42962, dtype: int64

In [14]:
df["Price"].value_counts()

Price
ayuder$    1155
1610         18
1384         16
805          16
1886         15
           ...
21392         1
13918         1
14848         1
6383          1
36673         1
Name: count, Length: 24300, dtype: int64

In [15]:
#Visualizar que valores unicos vienen en cada columna

df["Manufacturer"].unique()

array(['Ford', 'Porsche', 'Toyota', 'VW', nan, 'BMW'], dtype=object)

In [16]:
df["Model"].unique()

array(['Fiesta', '718 Cayman', 'Mondeo', 'RAV4', 'Polo', 'Focus', 'Prius',
       'Golf', 'Z4', 'Yaris', '911', nan, 'Passat', 'M5', 'Cayenne', 'X3'],
      dtype=object)

In [17]:
df["Engine size"].unique()

array([1. , 4. , nan, 1.8, 1.4, 1.2, 2. , 2.2, 1.6, 2.4, 2.6, 3.5, 4.4,
       3. , 5. ])

In [18]:
df["Fuel type"].unique()

array(['Petrol', 'Diesel', 'Hybrid', nan, 'ayuder$'], dtype=object)

In [19]:
df["Year of manufacture"].unique()

array([2002., 2016., 2014., 1988., 2006., 2018., 2010., 2015., 2012.,
       1992., 1990., 2007., 1998., 1989., 2003., 1987., 1996., 2009.,
       2017., 2005.,   nan, 2001., 2008., 1995., 1994., 2004., 1997.,
       1993., 1991., 1999., 2000., 1985., 2020., 2021., 2013., 1986.,
       1984., 2019., 2011., 2022.])

In [20]:
df["Mileage"].unique()

array(['127300', '57850', '39190', ..., '77006', '268809', '121201'],
      shape=(42963,), dtype=object)

In [21]:
df["Price"].unique()

array(['3074', '49704', '24072', ..., '3377', '37836', '15428'],
      shape=(24301,), dtype=object)

In [7]:
#Tipos de datos por columna#

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59908 entries, 0 to 59907
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         57512 non-null  object
 1   Model                57512 non-null  object
 2   Engine size          57512 non-null  float64
 3   Fuel type            57512 non-null  object
 4   Year of manufacture  57512 non-null  float64
 5   Mileage              57512 non-null  object
 6   Price                57512 non-null  object
dtypes: float64(2), object(5)
memory usage: 3.2+ MB

In [8]:
#Antes de limpiar los datos, una visión general rápida de los datos numéricos#

df.describe()
df

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850,49704
2,Ford,Mondeo,NaN,Diesel,2014.0,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814,1705
4,VW,Polo,1.0,Petrol,2006.0,127869,4101
...,...,...,...,...,...,...,...
59903,Ford,Focus,NaN,Petrol,2020.0,17260,30921
59904,VW,Polo,1.2,Petrol,1991.0,184788,1033
59905,VW,Polo,1.4,Petrol,2018.0,30622,21030
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906,8831
59907,VW,Passat,2.0,Diesel,2010.0,47757,20675

In [53]:
#Limpieza datos#

#Se utiliza en la biblioteca Pandas para reemplazar valores faltantes (representados como NaN) en un DataFrame#
#Sirve para limpiar datos y preparar un conjunto de datos para el análisis, ya sea reemplazando los valores nulos con un valor específico (como 0)#

df.fillna(0, inplace=True)
df

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850,49704
2,Ford,Mondeo,0.0,Diesel,2014.0,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814,1705
4,VW,Polo,1.0,Petrol,2006.0,127869,4101
...,...,...,...,...,...,...,...
59903,Ford,Focus,0.0,Petrol,2020.0,17260,30921
59904,VW,Polo,1.2,Petrol,1991.0,184788,1033
59905,VW,Polo,1.4,Petrol,2018.0,30622,21030
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906,8831
59907,VW,Passat,2.0,Diesel,2010.0,47757,20675

In [82]:
#Se genera un nuevo DataFrame, con la limpieza de los NaN hecha anteriormente# 

df2 = df.copy()
df2

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850,49704
2,Ford,Mondeo,0.0,Diesel,2014.0,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814,1705
4,VW,Polo,1.0,Petrol,2006.0,127869,4101
...,...,...,...,...,...,...,...
59903,Ford,Focus,0.0,Petrol,2020.0,17260,30921
59904,VW,Polo,1.2,Petrol,1991.0,184788,1033
59905,VW,Polo,1.4,Petrol,2018.0,30622,21030
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906,8831
59907,VW,Passat,2.0,Diesel,2010.0,47757,20675

In [83]:
#Nos genera un df con True donde hay NaN y False donde hay datos, se puede observar que ya no tenemos NaN porque no aprece algún True en la tabla# 

df2.isnull()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
59903,False,False,False,False,False,False,False
59904,False,False,False,False,False,False,False
59905,False,False,False,False,False,False,False
59906,False,False,False,False,False,False,False
59907,False,False,False,False,False,False,False

In [84]:
df2.isnull().sum()

Manufacturer           0
Model                  0
Engine size            0
Fuel type              0
Year of manufacture    0
Mileage                0
Price                  0
dtype: int64

In [85]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59908 entries, 0 to 59907
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         59908 non-null  object
 1   Model                59908 non-null  object
 2   Engine size          59908 non-null  float64
 3   Fuel type            59908 non-null  object
 4   Year of manufacture  59908 non-null  float64
 5   Mileage              59908 non-null  object
 6   Price                59908 non-null  object
dtypes: float64(2), object(5)
memory usage: 3.2+ MB

In [86]:
#Para datos atípicos se necesita el boxplot numérico, se convertira la columna en este caso a numéricas#

df2['Engine size'] = pd.to_numeric(df['Engine size'], errors='coerce').fillna(0)
df2['Year of manufacture'] = pd.to_numeric(df['Year of manufacture'], errors='coerce').fillna(0)
df2["Price"]=pd.to_numeric(df['Price'], errors='coerce').fillna(0)
df2["Mileage"]=pd.to_numeric(df['Mileage'], errors='coerce').fillna(0)
df2

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002.0,127300.0,3074.0
1,Porsche,718 Cayman,4.0,Petrol,2016.0,57850.0,49704.0
2,Ford,Mondeo,0.0,Diesel,2014.0,39190.0,24072.0
3,Toyota,RAV4,1.8,Hybrid,1988.0,210814.0,1705.0
4,VW,Polo,1.0,Petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59903,Ford,Focus,0.0,Petrol,2020.0,17260.0,30921.0
59904,VW,Polo,1.2,Petrol,1991.0,184788.0,1033.0
59905,VW,Polo,1.4,Petrol,2018.0,30622.0,21030.0
59906,Ford,Fiesta,1.2,Petrol,2010.0,67906.0,8831.0
59907,VW,Passat,2.0,Diesel,2010.0,47757.0,20675.0

In [61]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59908 entries, 0 to 59907
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         59908 non-null  object
 1   Model                59908 non-null  object
 2   Engine size          59908 non-null  float64
 3   Fuel type            59908 non-null  object
 4   Year of manufacture  59908 non-null  float64
 5   Mileage              59908 non-null  float64
 6   Price                59908 non-null  float64
dtypes: float64(4), object(3)
memory usage: 3.2+ MB

In [87]:
#Convertir las palabras a minicusculas, esto me sirve porque evita duplicados y mejora la consistencia al agrupar o contar categorías#

for col in ['Manufacturer', 'Model', 'Fuel type']:
    df2[col] = df2[col].str.strip().str.lower()
df2

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,ford,fiesta,1.0,petrol,2002.0,127300.0,3074.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
2,ford,mondeo,0.0,diesel,2014.0,39190.0,24072.0
3,toyota,rav4,1.8,hybrid,1988.0,210814.0,1705.0
4,vw,polo,1.0,petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59903,ford,focus,0.0,petrol,2020.0,17260.0,30921.0
59904,vw,polo,1.2,petrol,1991.0,184788.0,1033.0
59905,vw,polo,1.4,petrol,2018.0,30622.0,21030.0
59906,ford,fiesta,1.2,petrol,2010.0,67906.0,8831.0
59907,vw,passat,2.0,diesel,2010.0,47757.0,20675.0

In [88]:
#Funciona para identificar si hay palabras extrañas o raras dentro de estas columnas en especifico#

print(df2['Manufacturer'].unique())
print(df2['Fuel type'].unique())
print(df2['Model'].unique())

['ford' 'porsche' 'toyota' 'vw' nan 'bmw']
['petrol' 'diesel' 'hybrid' nan 'ayuder$']
['fiesta' '718 cayman' 'mondeo' 'rav4' 'polo' 'focus' 'prius' 'golf' 'z4'
 'yaris' '911' nan 'passat' 'm5' 'cayenne' 'x3']

In [ ]:
#Busca palabras raras o valores extraños# 

import numpy as np
valores_invalidos = ['?', 'unknown', 'none', 'null', '-', '_', 'n/a', 'na', 'nan', '', ' ','ayuder$']
df2.replace(valores_invalidos, np.nan, inplace=True)
df2.fillna('desconocido', inplace=True) 
df2

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,ford,fiesta,1.0,petrol,2002.0,127300.0,3074.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
2,ford,mondeo,0.0,diesel,2014.0,39190.0,24072.0
3,toyota,rav4,1.8,hybrid,1988.0,210814.0,1705.0
4,vw,polo,1.0,petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59903,ford,focus,0.0,petrol,2020.0,17260.0,30921.0
59904,vw,polo,1.2,petrol,1991.0,184788.0,1033.0
59905,vw,polo,1.4,petrol,2018.0,30622.0,21030.0
59906,ford,fiesta,1.2,petrol,2010.0,67906.0,8831.0
59907,vw,passat,2.0,diesel,2010.0,47757.0,20675.0

In [ ]:
#Se revisa que ya no se encuntren las palabaras extrañas en los datos de texto# 

print(df2['Manufacturer'].unique())
print(df2['Fuel type'].unique())
print(df2['Model'].unique())

['ford' 'porsche' 'toyota' 'vw' 'desconocido' 'bmw']
['petrol' 'diesel' 'hybrid' 'desconocido']
['fiesta' '718 cayman' 'mondeo' 'rav4' 'polo' 'focus' 'prius' 'golf' 'z4'
 'yaris' '911' 'desconocido' 'passat' 'm5' 'cayenne' 'x3']

In [ ]:
#Elimina caracteres raros o símbolos#
#Quita espacios sobrantes#
#Convierte todo a minúsculas# 

import re

def limpiar_texto(texto):
    if isinstance(texto, str):
        texto = re.sub(r'[^A-Za-z0-9\s\-]', '', texto)  # deja letras, números y guiones
        texto = re.sub(r'\s+', ' ', texto).strip()
        return texto.lower()
    return texto

for col in df2.select_dtypes(include='object').columns:
    df2[col] = df2[col].apply(limpiar_texto)
df2

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,ford,fiesta,1.0,petrol,2002.0,127300.0,3074.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
2,ford,mondeo,0.0,diesel,2014.0,39190.0,24072.0
3,toyota,rav4,1.8,hybrid,1988.0,210814.0,1705.0
4,vw,polo,1.0,petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59903,ford,focus,0.0,petrol,2020.0,17260.0,30921.0
59904,vw,polo,1.2,petrol,1991.0,184788.0,1033.0
59905,vw,polo,1.4,petrol,2018.0,30622.0,21030.0
59906,ford,fiesta,1.2,petrol,2010.0,67906.0,8831.0
59907,vw,passat,2.0,diesel,2010.0,47757.0,20675.0

In [ ]:
#Con este comando se crea un booleano que muestra renglones duplicados# 

df2.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
59903    False
59904     True
59905     True
59906     True
59907     True
Length: 59908, dtype: bool

In [95]:
df2.duplicated().sum()

np.int64(5258)

In [96]:
#Compara solo las columnas 'CustomerId', 'Surname' por lo que no 

df.duplicated(subset=['Manufacturer', 'Model','Engine size', 'Fuel type','Year of manufacture', 'Mileage','Price',]).sum()

np.int64(5224)

In [100]:
df2 = df2.drop_duplicates()
df2

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,ford,fiesta,1.0,petrol,2002.0,127300.0,3074.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
2,ford,mondeo,0.0,diesel,2014.0,39190.0,24072.0
3,toyota,rav4,1.8,hybrid,1988.0,210814.0,1705.0
4,vw,polo,1.0,petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59899,porsche,718 cayman,2.0,petrol,2012.0,87055.0,22114.0
59900,porsche,718 cayman,0.0,petrol,2018.0,20634.0,70913.0
59901,vw,polo,0.0,petrol,2011.0,89765.0,7610.0
59902,ford,mondeo,1.6,diesel,2010.0,67468.0,15428.0
59903,ford,focus,0.0,petrol,2020.0,17260.0,30921.0

In [101]:
df2.isin(valores_invalidos).sum()

Manufacturer           0
Model                  0
Engine size            0
Fuel type              0
Year of manufacture    0
Mileage                0
Price                  0
dtype: int64

In [102]:
df2.sample(25)

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
56787,vw,polo,1.0,petrol,1994.0,199370.0,1014.0
8981,toyota,yaris,1.0,hybrid,1995.0,252471.0,0.0
34908,vw,passat,1.4,petrol,2002.0,119669.0,5858.0
42911,vw,passat,1.8,diesel,1999.0,183471.0,3388.0
44647,vw,golf,1.4,petrol,2014.0,74930.0,14469.0
10066,ford,fiesta,1.0,diesel,1990.0,165601.0,1063.0
10398,toyota,yaris,1.2,petrol,1998.0,116684.0,3242.0
45159,ford,focus,1.0,petrol,2003.0,152777.0,3884.0
43822,toyota,prius,1.4,hybrid,2012.0,87724.0,17188.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
12396,vw,desconocido,1.6,petrol,2010.0,43832.0,18040.0
49534,toyota,rav4,2.0,hybrid,2018.0,30794.0,51947.0
27883,bmw,m5,5.0,petrol,1997.0,129343.0,13989.0
8904,vw,polo,1.6,petrol,1990.0,215295.0,853.0
41017,ford,fiesta,1.0,petrol,2000.0,163190.0,2012.0
22147,ford,mondeo,1.6,diesel,2007.0,70686.0,12364.0
2729,toyota,prius,1.4,hybrid,2017.0,0.0,35593.0
1325,desconocido,x3,2.0,diesel,1999.0,119256.0,6684.0
33,vw,desconocido,1.6,desconocido,2016.0,52409.0,17257.0
46499,ford,mondeo,1.4,diesel,2009.0,7000.0,19305.0
24663,ford,focus,2.0,petrol,2006.0,121256.0,8627.0
9247,vw,polo,1.0,petrol,2018.0,0.0,17888.0
16543,toyota,rav4,2.0,hybrid,1997.0,54456.0,11101.0
12836,vw,golf,0.0,diesel,2005.0,106264.0,7564.0
59077,toyota,rav4,2.2,hybrid,2012.0,91325.0,24685.0

In [103]:
df3=df2.copy()
df3

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,ford,fiesta,1.0,petrol,2002.0,127300.0,3074.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
2,ford,mondeo,0.0,diesel,2014.0,39190.0,24072.0
3,toyota,rav4,1.8,hybrid,1988.0,210814.0,1705.0
4,vw,polo,1.0,petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59899,porsche,718 cayman,2.0,petrol,2012.0,87055.0,22114.0
59900,porsche,718 cayman,0.0,petrol,2018.0,20634.0,70913.0
59901,vw,polo,0.0,petrol,2011.0,89765.0,7610.0
59902,ford,mondeo,1.6,diesel,2010.0,67468.0,15428.0
59903,ford,focus,0.0,petrol,2020.0,17260.0,30921.0

In [104]:
df3

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,ford,fiesta,1.0,petrol,2002.0,127300.0,3074.0
1,porsche,718 cayman,4.0,petrol,2016.0,57850.0,49704.0
2,ford,mondeo,0.0,diesel,2014.0,39190.0,24072.0
3,toyota,rav4,1.8,hybrid,1988.0,210814.0,1705.0
4,vw,polo,1.0,petrol,2006.0,127869.0,4101.0
...,...,...,...,...,...,...,...
59899,porsche,718 cayman,2.0,petrol,2012.0,87055.0,22114.0
59900,porsche,718 cayman,0.0,petrol,2018.0,20634.0,70913.0
59901,vw,polo,0.0,petrol,2011.0,89765.0,7610.0
59902,ford,mondeo,1.6,diesel,2010.0,67468.0,15428.0
59903,ford,focus,0.0,petrol,2020.0,17260.0,30921.0

In [106]:
df3.to_csv("Base_limpiaDaniel.csv")